.Fcl{
    border: 2px solid #f00;
    background-color: #a00;
}
.Icl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Ocl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Birthdaycl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Logincl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Passwordcl {
    border: 2px solid #f00;
    background-color: #a00;
}
.RegDatecl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Citycl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Password2cl {
    border: 2px solid #f00;
    background-color: #a00;
}
.Emailcl{
    border: 2px solid #f00;
    background-color: #a00;
}

.img{
    width: 50px;
}

tr{
    color: #a00;
}