.container {
    width: 80%;
    max-width: 600px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем по горизонтали */
    padding: 20px;
    background-color: var(--back-color);
    border-radius: var(--rounder-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по горизонтали */
    justify-content: center; /* Центрируем содержимое по вертикали */
    min-height: 100vh; /* Растягиваем контейнер на всю высоту экрана */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-form {
    width: 100%; /* Форма занимает всю ширину контейнера */
}

.edit-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-form label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 0.4em;
}

.edit-form input[type="text"], 
.edit-form input[type="email"], 
.edit-form input[type="date"], 
.edit-form select, 
.edit-form input[type="file"] {
    padding: 12px;
    border-radius: var(--rounder-border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--back-color);
    color: var(--text-color);
    font-size: 1rem;
}

.edit-form input[type="text"]:focus, 
.edit-form input[type="email"]:focus, 
.edit-form input[type="date"]:focus, 
.edit-form select:focus, 
.edit-form input[type="file"]:focus {
    border-color: var(--blue-color);
    outline: none;
}

.edit-form button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: none;
    border-radius: var(--rounder-border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1em;
}

.edit-form button:hover {
    background-color: var(--active-color);
    transform: scale(1.05);
}

.edit-form button:active {
    transform: scale(0.98);
}

.current-avatar img {
    border: 2px solid var(--border-color);
}

.file-name {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 5px;
}

.error-text {
    color: var(--error-color);
    font-weight: bold;
    margin-top: 10px;
}
